[Unit]
Description=gunicorn daemon
After=network.target

[Service]
User=ubuntu
Group=www-data
WorkingDirectory=/home/ubuntu/EcommerceApplication-Python
ExecStart=/home/ubuntu/env/bin/gunicorn --workers 3 --bind unix:/run/gunicorn/gunicorn.sock --chdir /home/ubuntu/EcommerceApplication-Python EcommerceApplication.wsgi:application



[Install]
WantedBy=multi-user.target
